.header {
    width: 95%;
    margin: 0 auto;
}
.header__block {
    display: flex;
    width: 100%;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}
.logo-link-small {
    display: none;
}
.menu__list li {
    display: inline-block;
    margin-left: 35px;
}
.menu__link {
    color: #707070;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}


.header__block-btn {
    display: flex;
    text-transform: capitalize;

}
.login__btn {
    color: #707070;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
}

.signup__btn {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    background: #306EF7;
    border-radius: 8px;
}
@media(max-width: 1000px) {
 .header__block {
    margin-top: 20px;
    }
 .menu__list li {
    margin-left: 10px;
 }
 .menu__link {
    color: #707070;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
 .login__btn,
 .signup__btn {
    font-size: 15px;
    padding: 6px 10px 6px 10px;
 }
}
@media (max-width: 650px) {
    .header__block-menu {
        display: none;
    }
    .logo-link{
        display: none;
    }
    .logo-link-small {
        display: block;
        margin-right: -100px;
    }
    .logo-link-small img {
        width: 25%;
    }
}
.active_menu a{
    color: #3C82F4;
}

/*======================================================*/
.bar {
  display: block;
  height:2px;
  width: 30px;
  background-color: #306EF7;
  margin: 10px auto;
}
.nav-right {
    display: none;
}

.sidebar {
    display: none;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 50px;
  text-align: center;
}
.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  transform: translateY(-20px);
}

.sidebar-item.active {
  opacity: 1;
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #707070;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #707070;
  transform: scale(1.3);
  transition: all 1s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  transition: all .7s ease;
}
/*.button.active .middle {*/
/*  width: 0;*/
/*}*/
.active {
    display: block;
}


@media (max-width: 650px) {
    .nav-right {
        display: block;
}
}