<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}">

    <title>Marico</title>
</head>
<body>


<header class="header">
    <div class="header__block">
        <div class="header__block-logo">
            <a class="logo-link" href="/"><img class="header__block-logo-img" src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
            </a>
            <a class="logo-link-small" href="/"><img class="header__block-logo-img" src="{{ url_for('static', filename='img/footer-logo.svg') }}" alt="logo">
            </a>
        </div>
        <div class="header__block-menu">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">use cases</a> </li>
                    <li class="menu__item">
                        <a  id="/about" href="{{url_for('about')}}" class="menu__link">about</a> </li>
                    <li class="menu__item">
                        <a id="/pricing" href="{{url_for('pricing')}}" class="menu__link">pricing</a> </li>
                    <li class="menu__item">
                        <a id="/blog" href="{{url_for('blog')}}" class="menu__link">blog </a></li>
                </ul>
            </nav>
        </div>
        <div class="header__block-btn">
            <a href="{{url_for('login')}}" class="login__btn">login</a>
            <a href="{{url_for('signup')}}" class="signup__btn">sign up</a>
        </div>
    </div>
</header>

<div class="signup__title">Sign up</div>
<div class="signup__subtitle">Fill all field for create an account.</div>
<div class="register__block container">
     <form action="" method="POST">
        <div class="register__block-name">
            <input class="username_input" type="text" name="name" placeholder="Username"><br><br>
            <!-- <i class="far fa-eye-slash"></i> вторая иконка закомментированна-->
            <div class="pass_block">
                <input class="pass-input" id="show1" type="password" name="password" placeholder="Password">
                <a id="show">  <i id="i" class="far fa-eye"></i>
            </a></div>
        </div>

       <div class="register__block-emain">
           <input class="email_input" type="text" name="email" placeholder="Email Address"><br>
           <button class="sign-btn">Sign Up</button>
       </div>
</form>
</div>

<div class="bottom__block">Or</div>
<div class="bottom__block-text">Sign up with...</div>
<div class="signwith__block">
    <div class="signwith__block-btn">
       <div class="btn-img">
           <img src="{{ url_for('static' , filename='img/facebook_logo.svg') }}" alt="">
        <a href="">Sign up with Facebook</a>
       </div>
    </div>
    <div class="signwith__block-btn">
       <div class="btn-img">
           <img src="{{ url_for('static' , filename='img/google_logo.svg') }}" alt="">
        <a href="">Sign up with Google</a>
       </div>
    </div>
    <div class="signwith__block-btn">
       <div class="btn-img">
           <img src="{{ url_for('static' , filename='img/apple_logo.svg') }}" alt="">
        <a href="">Sign up with Apple</a>
       </div>
    </div>
</div>
<footer class="signup__footer">
    <div class="signup__footer-context"><a href="">Already have an account? Please  Log in.</a></div>
</footer>



<script src="{{url_for('static', filename='js/showpass.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->


</body>
</html>